$aalto-logo-ratio: (480/300);

.aalto-logo {
  display: inline-block;
  width: auto;

  .symbol {
  }

  .q, .e, .d {
    display: none;

  }
  &.blue .symbol {
    fill: $aalto-blue;
  }
  &.red .symbol {
    fill: $aalto-red;
  }
  &.yellow .symbol {
    fill: $aalto-yellow;
  }

  &.aalto-logo-q {
    .q {
      display: inline;
    }
  }

  &.aalto-logo-e {
    .e {
      display: inline;
    }
  }

  &.aalto-logo-d {
    .d {
      display: inline;
    }
  }
}
