article, section.no-results {
  padding-top: $line-height-computed;
  margin-top: 0.5em;
}

section.no-results {
  padding-bottom: $line-height-computed * 1.5;

  form {
    position: relative;
    width: 50%;
    margin: 0 auto;
  }

  label {
    padding-right: 1.5em;

    input[type="search"] {
      border-bottom: 1px solid;
      text-align: center;
    }
  }
}

.sticky .is-sticky {
  float: right;

  &:before {
    @extend .genericon;
    content: '\f308';
    font-size: $font-size-base;
  }
}

.breadcrumbs {
  position: relative;
  text-align: right;
  font-size: 12px;

  a {
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }

  > span:not(.separator) {
    overflow: hidden;
    display: inline-block;
    max-width: (100%/6);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  & + * {
    margin-top: $line-height-computed/2;
  }
}

.author-avatar {
  float: left;
  margin-right: 0.5em;
}
.avatar {
  border-radius: 50%;
}

.entry-meta,
.comment-metadata {
  font-size: $font-size-small;
  @include clearfix;

  .author {
    display: block;
    margin-top: (2em/14);

    .post-edit-link {
      color: inherit;
    }
  }

  .posted-on {
    display: block;
    font-size: 12px;
  }

}

.entry-meta + .post-thumbnail { // for main page
  display: block;
  margin-top: 0.5em;
}

a.post-thumbnail:hover {
  opacity: 1;
}

.entry-title {
  margin-top: ($line-height-computed * 0.75);

  a {
    color: $text-color;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.link-excerpt {
  display: block;

  &:hover {
    text-decoration: none;
  }

  p {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: ($line-height-computed);
    }
  }

  &:not(.has-excerpt) {
    p:last-child:after {
      content: '...';
    }
  }
}

.more-link {
  font-size: $font-size-small;
  display: block;

  p {
    display: inline-block;
  }
}

.comment-count {
  float: right;
  font-size: $font-size-small;
  vertical-align: bottom;

  &:before {
    @extend .genericon;
    content: '\f300';
    font-size: $font-size-base;
    vertical-align: bottom;
  }

  &.multiple:before {
    content: '\f108';
  }
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 0.5em auto 0;
  border-radius: 0;

  .nav-links {
    display: inline-block;
    font-size: $font-size-small;
    padding: 0 1em;
    border-radius: 999em;

    > span,
    > a {
      display: inline-block;
      padding: 1em;
    }
  }
}

.grid-item > .pagination > .nav-links {
  span.current {
    font-weight: bold;
  }
  
  a:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.updated:not(.published) {
  display: none;
}

.more-posts {
  margin-top: ($line-height-computed * 1.5);
}

.more-entry-title {
  margin-bottom: 0;
}

.post-password-form {
  margin-bottom: $line-height-computed * 2;

  input[type="password"] {
    border: none;
    border-bottom: 1px solid;
    background: none;
    margin-right: 1em;

    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    font-size: $font-size-small;
    background: none;
    border: 1px solid;
    border-radius: 999em;
    padding: 0.5em 1em;
  }
}

.tag-list {
  margin-bottom: $line-height-computed;

  a[rel="tag"] {
    line-height: $line-height-computed;
    font-size: 12px !important;
    display: inline-block;
    border: 1px solid;
    padding: 0 0.5em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
