article {
  padding-top: $line-height-computed;
  margin-top: 0.5em;

  p > a,
  p > .span-a-tag { /* distinguish with underlined text */
    border-bottom: 1px solid;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .page-links {
    font-size: $font-size-small;
    margin-bottom: $line-height-computed;
    
    > span,
    > a {
      display: inline-block;
      padding: 1em;
    }
    
    > .page-links-title {
      padding-left: 0;
    }
  }

  ul {
    margin-bottom: $line-height-computed;
    padding-left: $grid-gutter-width/2;

    ul {
      padding-left: $grid-gutter-width/2;
      margin-bottom: 0;
    }
  }

  ol {
    margin-bottom: $line-height-computed;

    ol {
      padding-left: 1.33em;
      margin-bottom: 0;
    }
  }

  .table-responsive {
    padding: 0 !important;
  }
  table {
    @extend .table;
  }

  blockquote {
    font-size: $blockquote-font-size;
    font-family: $font-family-serif;
    border-left: none;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    > p {
      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }

    > p:not([style]) {
      padding-left: ($grid-gutter-width - 5);
      margin-left: (-$grid-gutter-width/2);
      border-left: 5px solid;
      clear: both;

      &:before, &:after {
        content: none;
      }
    }

    > p[style*="center"] {
      font-size: $font-size-base;
      padding-left: ($grid-gutter-width/2);
      padding-right: ($grid-gutter-width/2);

      @media (min-width: $screen-xs) {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
      }
    }

    > p[style*="left"] {
      color: $aalto-gray;

      @media (min-width: $screen-sm) {
        padding-right: $line-height-computed;
        padding-bottom: $line-height-computed;
        width: 50%;
        float: left;
      }

      @media (min-width: $screen-md) {
        margin-left: -(100%/12*2);
      }
    }

    > p[style*="right"] {
      color: $aalto-gray;

      @media (min-width: $screen-sm) {
        padding-left: $line-height-computed;
        padding-bottom: $line-height-computed;
        width: 50%;
        float: right;
        text-align: left !important;
      }

      @media (min-width: $screen-md) {
        margin-right: -(100%/12*2);
      }
    }

    > p[style*="justify"] {
      font-size: $font-size-base;

      padding-left: ($grid-gutter-width/2);
      padding-right: ($grid-gutter-width/2);

      @media (min-width: $screen-xs) {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
      }
    }
  }

  code {
    font-size: $font-size-small;
    display: block;
    padding: $grid-gutter-width/2;
    margin: $line-height-computed/2 (-$grid-gutter-width/2) $line-height-computed;
    border-radius: 0;
  }

  pre {
    border-radius: 0;
    border: none;
    margin-top: $line-height-computed/2;
    margin-bottom: $line-height-computed;
  }

  .wp-caption,
  img {
    @extend .img-responsive;

  }

  .wp-caption,
  p {
    &.small-width,
    &.default-width {

      &.alignleft {
        float: left;
        text-align: left;
      }
      &.alignright {
        float: right;
        text-align: right;
      }
      &.aligncenter {
        clear: both;
        text-align: center;
      }

    }

    &.small-width {
      &.alignleft {
        padding-right: ($grid-gutter-width/2);

      }
      &.alignright {
        padding-left: ($grid-gutter-width/2);
      }

      @media (max-width: $screen-xs-max) {
        &.alignleft,
        &.alignright,
        &.alignnone {
          float: none !important;
          text-align: center !important;
          padding: 0;

          .wp-caption-text {
            margin-left: auto;
            margin-right: auto;
          }

          img {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    &.default-width {
      @media (max-width: $screen-sm-max) {
        &.alignleft,
        &.alignright {
          float: none !important;

          img {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    &.alignleft {
      text-align: left;
    }
    &.alignright {
      text-align: right;
    }
    &.aligncenter {
      text-align: center;
    }
  }

  .alignleft + .alignright {
    padding-left: 0 !important;
  }

  .large-width {
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    max-width: initial;
    width: auto !important;
    
    .wp-caption-text {
      padding-left: ($grid-gutter-width/2);
      padding-right: ($grid-gutter-width/2);
    }

    img {
      width: 100%;
    }
  }
  .full-width {
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
    max-width: initial;
    width: auto !important;

    .wp-caption-text {
      padding-left: ($grid-gutter-width/2);
      padding-right: ($grid-gutter-width/2);
    }

    @media (min-width: $screen-md) {
      margin-left: -(100%/12 * 2);
      margin-right: -(100%/12 * 2);

      .wp-caption-text {
        max-width: $container-md * (8/12);
        margin: 0 auto;
      }
    }

    @media (min-width: $screen-lg) {
      .wp-caption-text {
        max-width: $container-lg * (8/12);
      }
    }
  }

  img {
    &.size-medium,
    &.size-large,
    &.size-full {
      width: 100%;
      margin: auto;
    }

    &.size-medium {
      max-width: ($container-lg * (8/12) - $grid-gutter-width);
    }
  }

  .wp-caption {
    &.small-width {
      width: auto !important;
    }

    .wp-caption-text {
      font-size: $font-size-small;
      margin-top: (10.5em/14);
      margin-bottom: $line-height-computed;
    }
  }

  p.has-embed { // responsive embed
    @extend .embed-responsive;
    padding-bottom: (100% / 1.6);
    clear: both;

    @media (min-width: $screen-sm) {
      padding-bottom: ($container-sm / 1.6);

      iframe,
      embed,
      object,
      video {
        padding-left: ($grid-gutter-width/2);
        padding-right: ($grid-gutter-width/2);
      }
    }
    @media (min-width: $screen-md) {
      padding-bottom: ($container-md * (8/12) / 1.6);
    }
    @media (min-width: $screen-lg) {
      padding-bottom: ($container-lg * (8/12) / 1.6);
    }
  }

  .gallery {
    margin-bottom: $line-height-computed;
  }
  .gallery-size-medium,
  .gallery-size-large,
  .gallery-size-full {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: (900%/16);

    > figure {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 0.5s ease-in-out;

      .gallery-icon, a {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        display: none;
      }

      > .gallery-caption {
        position: absolute;
        bottom: 0;
        font-size: $font-size-small;
        padding: ($line-height-computed * 0.5);
        background: rgba(0,0,0,0.5);
        color: #FFF;
        width: 100%;
        text-align: center;

        > * { /* removes any stylings except for font-weight inside gallery captions */
          margin: 0;
          font-size: inherit;
          line-height: 1.4em;
        }
      }
    }
  }

  .gallery-navigation {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-30px);
    pointer-events: none;

    @media (min-width: $screen-sm) {
      height: 60px;
    }

    .gallery-prev,
    .gallery-next {
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      pointer-events: auto;

      &:before {
        @extend .genericon;
        display: inline-block;
        line-height: 40px;
        color: rgba(151,151,151,0.5);
        vertical-align: middle;
        transform: translateY(2px);

        @media (min-width: $screen-sm) {
          width: 40px;
          height: 40px;
          font-size: 35px;
        }
      }
      &:hover:before {
        color: rgba(151,151,151,1);
      }
    }

    .gallery-prev {
      float: left;
      padding-right: 20px;

      &:before {
        content: '\f503';
        text-align: left;
      }
    }

    .gallery-next {
      float: right;
      padding-left: 20px;

      &:before {
        content: '\f501';
        text-align: right;
      }
    }
  }

  .gallery-size-thumbnail {
    @include clearfix;
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);

    @media (min-width: $screen-sm) {
      margin-left: -($grid-gutter-width/4);
      margin-right: -($grid-gutter-width/4);
    }

    > .gallery-item {
      float: left;
      padding: 0;

      @media (min-width: $screen-sm) {
        padding: ($grid-gutter-width/4);
      }

      img {
        margin: 0 auto;
      }

      > .wp-caption-text {
        display: none;
      }
    }

    @for $i from 0 through 9 {
      &.gallery-columns-#{$i} > .gallery-item {
        width: percentage(1/$i);
      }
    }
  }

  .gallery-size-large {
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
    width: auto;
  }
  .gallery-size-full {
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
    width: auto;

    @media (min-width: $screen-md) {
      margin-left: -(100%/12 * 2);
      margin-right: -(100%/12 * 2);
      padding-bottom: 75%;
    }
  }
}
