body.active-sidebar.narrow-page .content-area:not(.reading-mode) article,
body.active-sidebar.narrow-post .content-area:not(.reading-mode) article {

  .large-width,
  .full-width {
    @media (min-width: $screen-md) {
      margin-left: -($grid-gutter-width/2);
      margin-right: -($grid-gutter-width/2);
    }
    
    .wp-caption-text {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .gallery-size-large,
  .gallery-size-full {
    @media (min-width: $screen-md) {
      margin-left: -($grid-gutter-width/2);
      margin-right: -($grid-gutter-width/2);
      padding-bottom: $container-md * (8/12) * (9/16);
    }

    @media (min-width: $screen-lg) {
      padding-bottom: $container-lg * (8/12) * (9/16);
    }
  }
  
  .below-sidebar {
    &.large-width {
      @media (min-width: $screen-md) {
        margin-left: -($grid-gutter-width/2);
        margin-right: -($container-md * (2/12) + $grid-gutter-width/2);

        .wp-caption-text {
          max-width: $container-md * (8/12);
          margin-right: $container-md * (2/12);
        }
      }

      @media (min-width: $screen-lg) {
        margin-right: -($container-lg * (2/12) + $grid-gutter-width/2);

        .wp-caption-text {
          max-width: $container-lg * (8/12);
          margin-right: $container-lg * (2/12) - $grid-gutter-width/2;
        }
      }
      
      img {
        width: 100%;
      }
    }

    &.full-width {
      @media (min-width: $screen-md) {
        margin-left: -($grid-gutter-width/2);
        margin-right: -($container-md * (4/12) + $grid-gutter-width/2);

        .wp-caption-text {
          max-width: $container-md * (8/12);
          margin-right: $container-md * (4/12) - $grid-gutter-width/2;
        }
      }

      @media (min-width: $screen-lg) {
        margin-right: -($container-lg * (4/12) + $grid-gutter-width/2);

        .wp-caption-text {
          max-width: $container-lg * (8/12);
          margin-right: $container-lg * (4/12) - $grid-gutter-width/2;
        }
      }
    }

    &.gallery-size-large {
      @media (min-width: $screen-md) {
        margin-left: -($grid-gutter-width/2);
        margin-right: -($container-md * (2/12) + $grid-gutter-width/2);
        padding-bottom: ($container-md * (10/12) * (9/16));
      }

      @media (min-width: $screen-lg) {
        margin-right: -($container-lg * (2/12) + $grid-gutter-width/2);
        padding-bottom: ($container-lg * (10/12) * (9/16));
      }
    }

    &.gallery-size-full {
      @media (min-width: $screen-md) {
        margin-left: -($grid-gutter-width/2);
        margin-right: -($container-md * (4/12) + $grid-gutter-width/2);
        padding-bottom: ($container-md * (9/16));
      }

      @media (min-width: $screen-lg) {
        margin-right: -($container-lg * (4/12) + $grid-gutter-width/2);
        padding-bottom: ($container-lg * (9/16));
      }
    }
  }
}
