article:not(.article-list) {
  padding-bottom: $line-height-computed;

  .entry-meta {
    clear: both;
    padding-top: $line-height-computed;

    .pull-left {
      margin-right: $grid-gutter-width/2;
      margin-bottom: $line-height-computed/2;
      max-width: 100%;
      min-width: 33%;
    }
  }
}

article {
  .entry-title + p.has-image,
  .entry-title + figure.wp-caption {
    margin-top: -($line-height-computed/2);
  }

  .entry-meta + * {
    margin-top: $line-height-computed*0.75;
  }

  .page-links {
    font-size: $font-size-small;
    margin-bottom: $line-height-computed;
    
    > span,
    > a {
      display: inline-block;
      padding: 1em;
    }
    
    > .page-links-title {
      padding-left: 0;
    }
  }

  @import 'article-common';
}
