.author-avatar {
  float: left;
  margin-right: 0.5em;
}
.avatar {
  border-radius: 50%;
}

.entry-meta,
.comment-metadata {
  font-size: $font-size-small;
  @include clearfix;

  .author {
    display: block;
    margin-top: (2em/14);

    .post-edit-link {
      color: inherit;
    }
  }

  .posted-on {
    display: block;
    font-size: 12px;
  }

}

.entry-meta + .post-thumbnail { // for main page
  display: block;
  margin-top: 0.5em;
}

a.post-thumbnail:hover {
  opacity: 1;
}

.entry-title {
  margin-top: ($line-height-computed * 0.75);

  a {
    color: $text-color;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.link-excerpt {
  display: block;

  &:hover {
    text-decoration: none;
  }

  p {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: ($line-height-computed);
    }
  }

  &:not(.has-excerpt) {
    p:last-child:after {
      content: '...';
    }
  }
}

.more-link {
  font-size: $font-size-small;
  display: block;

  p {
    display: inline-block;
  }
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 0.5em auto 0;
  border-radius: 0;

  .nav-links {
    display: inline-block;
    font-size: $font-size-small;
    padding: 0 1em;
    border-radius: 999em;

    > span,
    > a {
      display: inline-block;
      padding: 1em;
    }
  }
}

.updated:not(.published) {
  display: none;
}

.more-posts {
  margin-top: ($line-height-computed * 1.5);
}

.more-entry-title {
  margin-bottom: 0;
}

.tag-list {
  margin-top: $line-height-computed/2;

  a[rel="tag"] {
    line-height: $line-height-computed;
    font-size: 12px !important;
    display: inline-block;
    border: 1px solid;
    padding: 0 0.5em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
