.site-footer {
  margin-top: ($line-height-computed * 1.5);

  .social-links {
    float: right;
    padding: 0 1em;

    @media screen and (max-width: $screen-xs-max) {
      float: none;
    }
  }

  .social-navigation {
    margin-top: (20em/21);

    ul {
      text-align: right;

      @media screen and (max-width: $screen-sm-max) {
        text-align: left;
      }
      
      li {
        display: inline-block;

        @media screen and (max-width: $screen-sm-max) {
          margin-bottom: 0.25em;
        }

        a {
          display: block;
          text-align: center;
          border-radius: 50%;
          color: inherit;
          opacity: 0.9;

          &:before {
            font-size: 21px;
            line-height: 38px;
            height: 38px;
            width: 38px;
            transition: transform 0.15s ease-in-out;
          }

          &:hover {
            opacity: 1;
          }

          &:hover:before {
            transform: scale(1.2,1.2);
          }
        }
      }
    }
  }

  .aalto-info {
    @include clearfix;
    padding: 0 1em;
  }
  @media screen and (max-width: $screen-xs-max) {
    .social-links + .aalto-info {
      margin-top: (-24em/21);
    }
  }
  .aalto-link {
    display: block;
    position: relative;
    height: (80em/21);
    padding: (20em/21);
    margin-left: (-20em/21);
    float: left;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }

    .aalto-logo {
      height: (40em/21);
      width: (40em/21) * $aalto-logo-ratio-text;
    }
  }
}
