.site-header {
  position: relative;
  padding-top: 40px;
  background-position: center;
  background-size: cover;
  background-attachment: local;
  min-height: 190px;

  img {
    display: none;
  }

  @media (min-width: $screen-md) {
    img {
      display: block;
      width: 100%;
      max-width: 1440px;
      height: auto;
      margin-top: -40px;
      visibility: hidden;
    }

    .header-text-area {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

.site-branding {
  position: relative;
}

.site-title {
  @media (min-width: $screen-md) {
    padding-right: $grid-gutter-width/2;
    max-width: percentage(2/3);
  }

  a {
    color: inherit;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.site-description {
  color: inherit;
  opacity: 0.9;
  margin-bottom: $line-height-computed*0.75;

  @media (min-width: $screen-md) {
    padding-right: $grid-gutter-width/2;
    max-width: percentage(2/3);
  }
}

.header-search {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0.8;
  padding-left: $grid-gutter-width/2;
  width: 100%;
  max-width: percentage(1/3);

  & input:focus {
    border-bottom: 1px solid;
  }
}
