.site-header {
  position: relative;
  padding-top: 40px;
  background-position: center;
  background-size: cover;
  background-attachment: local;

  img {
    display: none;
  }

  @media (min-width: $screen-sm) {
    img {
      display: block;
      width: 100%;
      max-width: 1440px;
      height: auto;
      margin-top: -40px;
      visibility: hidden;
    }

    .header-text-area {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

.site-title {
  a {
    color: inherit;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.site-description {
  color: inherit;
  opacity: 0.9;
}

.navbar-toggle {
  float: left;
  margin: 0;
  padding: 12px $grid-gutter-width/2;
}

.main-navigation {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -$grid-gutter-width/2 !important;
  margin-right: -$grid-gutter-width/2 !important;
  border-top: none;
  box-shadow: none;

  ul {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: $font-size-small;
    line-height: (40em/14);
    width: 100%;

    @media (min-width: $screen-sm) {
      @include clearfix;

      &.has-nested-menu {
        line-height: 1.5em;
        margin-top: 1em;

        ul {
          line-height: 1.5em;
          margin-bottom: 1em;
        }
      }

    }

    li {
      &:last-child {
        margin-bottom: (13em/14);
      }

      @media (min-width: $screen-sm) {
        float: left;
        width: (100%/6);

        &:first-child {
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: inherit;
        display: inline-block;
        padding: 0 $grid-gutter-width/2;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        line-height: inherit;

        &:hover {
          background: transparent;
          text-decoration: underline;
          opacity: 1;
        }

        @media (min-width: $screen-sm) {
          padding: 0 $grid-gutter-width/2;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-left: $grid-gutter-width/2;
        border-left: 1px solid;

        @media (min-width: $screen-sm) {
          margin-left: $grid-gutter-width/2;
        }

        li {
          float: none;
          width: 100%;

          &:first-child {
            margin-left: 0;
          }

          a {
            padding-left: 0.75em;
          }
        }
      }
    }
  }
}
