#metanav {
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.5);

  .aalto-menu {
    display: block;
    width: (39px * $aalto-logo-ratio);
    height: 39px;
    padding: 7px;
    margin-left: -7px;

    .aalto-logo {
      width: auto;
      height: 100%;
    }
  }
}
