.sd-sharing-enabled {
  margin-top: $line-height-computed/4;

  @media (min-width: $screen-sm) {
    float: right;
    clear: none !important;
  }
  
  h3.sd-title {
    display: none !important;
  }

  .sd-content {

    ul li a {
      background: transparent !important;
      box-shadow: none !important;
      border: 1px solid !important;
      margin-top: 0 !important;

      &:hover {
        border: inherit;
        opacity: 1;
      }
    }
  }
}
