html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.custom-background-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

span.serif {
  font-family: $font-family-serif;
}
