.sidebar {
  height: 100%;
  margin-top: 0.5em;

  a {
    color: inherit;
  }
}

.widget-area {
  font-size: $font-size-small;
  padding: $line-height-computed $grid-gutter-width/2;

  @media (min-width: $screen-md) {
    padding-right: 0;
  }
}

h6.widget-title {
  margin-bottom: $line-height-computed/2;
}

.widget {
  margin-bottom: $line-height-computed * 1.5;

  ul {
    padding-left: 0;
    list-style: none;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: ((13em/16)/2) 0;

      ul.children, ul.sub-menu {
        padding-left: 0.5em;
        border-left: 1px solid;
      }
    }
  }

  img {
    @extend .img-responsive;
  }
}

.widget_calendar {
  table {
    margin-bottom: 0;
    @extend .table;
    text-align: center;

    a {
      text-decoration: underline;
      font-weight: bold;
    }

    caption {
      text-align: center;
    }

    thead tr th {
      text-align: center;
    }
    tfoot {
      #prev {
        text-align: left;
      }
      #next {
        text-align: right;
      }
    }
  }
}

.widget_categories {
  select {
    background: transparent;
    border: 1px solid;
  }
}

.widget_recent_entries {
  span.post-date {
    font-size: (12em/14);
  }
}

.widget_rss {
  .rss-widget-icon {
    display: none;
  }

  ul li {
    white-space: initial;

    > * {
      display: block;
    }

    > a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > span.rss-date {
      font-size: (12em/14);
    }

    > div {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }

    &:last-child > div {
      margin-bottom: 0;
    }
  }
}

.widget_tag_cloud {

  .tagcloud a {
    line-height: $line-height-computed;
    font-size: 12px !important;
    display: inline-block;
    border: 1px solid;
    padding: 0 0.5em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.widget_search {
  position: relative;
  min-height: $line-height-computed;

  label {
    border-bottom: 1px solid;
    padding-right: 35px;
  }

  input[type="search"] {
    font-size: $font-size-base;
    line-height: $line-height-computed;
  }

  .search-submit {
    line-height: $line-height-computed;
  }
}
